APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
API_PREFIX=/api/v1

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=garage_manager_tfg
DB_USER=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
TOKEN_TTL_HOURS=24
